*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    width: 50%;
    margin: auto;
    justify-content: center;
    background-color: bisque;
    padding: 50px;
    
}

#afficheur{
    /* height: 70px; */
    color: white;
    width: 100%;
    background-color: rgb(111, 122, 122);
    /* margin: auto; */
    margin-left: -2px;
    display: grid;
    grid-column: 1/5;
}

#boutons{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6,70px);
    grid-gap:23px;
    
}